#main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: antiquewhite;
}
#main-header {
  padding: 10px;
  background: burlywood;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}
#score {
  display: flex;
  justify-content: space-evenly;
}
.player {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  padding-bottom: 0;
  line-height: 1.3;
  border: 1px solid transparent;
}
.player-name {
  border-bottom: 1px solid;
  font-size: 18px;
}
.player-score {
  font-weight: bold;
  font-size: 24px;
}
.player-color {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  display: inline-block;
}
#player-one {
  color: darkblue;
}
#player-two {
  color: darkred;
}
#player-one .player-color {
  background: darkblue;
}
#player-two .player-color {
  background: darkred;
}
.player.turn-active {
  border: 1px solid;
}

#main-layout {
  height: -webkit-fill-available;
  overflow-y: auto;
}
#start-button {
  position: fixed;
  width: 140px;
  height: 70px;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 21px;
  color: wheat;
  text-transform: uppercase;
  background: darkgreen;
  border-radius: 35px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  border: none;
  transition: all 0.5s;
}
#start-button:disabled {
  width: 70px;
  font-size: 0;
}
#start-button:disabled #button-logo {
  margin: 0;
}
#start-button:disabled span,
#start-button:disabled img {
  display: none;
}

#start-button:active {
  background: green;
}
#button-logo {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.number {
  background: transparent;
  position: relative;
}
.number.number-active {
  background: #c3aeae;
}
