.split {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  background-color: transparent;
  border: none;
}

.split.active {
  pointer-events: all;
  background-color: #0b9b117a;
  border: 2px dashed darkgreen;
}
.split-checked {
  border: none;
  pointer-events: none;
}
.split[data-check="player-one"] {
  background-color: darkblue;
}
.split[data-check="player-two"] {
  background-color: darkred;
}
span#split1 {
  top: 52px;
  left: 32px;
}
span#split13 {
  top: 52px;
}
span#split25 {
  top: 52px;
  right: 32px;
}

span#split2 {
  top: 123px;
  left: 32px;
}
span#split14 {
  top: 123px;
}
span#split26 {
  top: 123px;
  right: 32px;
}

span#split3 {
  top: 194px;
  left: 32px;
}
span#split15 {
  top: 194px;
}
span#split27 {
  top: 194px;
  right: 32px;
}

span#split4 {
  top: 265px;
  left: 32px;
}
span#split16 {
  top: 265px;
}
span#split28 {
  top: 265px;
  right: 32px;
}

span#split5 {
  top: 336px;
  left: 32px;
}
span#split17 {
  top: 336px;
}
span#split29 {
  top: 336px;
  right: 32px;
}

span#split6 {
  top: 407px;
  left: 32px;
}
span#split18 {
  top: 407px;
}
span#split30 {
  top: 407px;
  right: 32px;
}

span#split7 {
  top: 478px;
  left: 32px;
}
span#split19 {
  top: 478px;
}
span#split31 {
  top: 478px;
  right: 32px;
}

span#split8 {
  top: 549px;
  left: 32px;
}
span#split20 {
  top: 549px;
}
span#split32 {
  top: 549px;
  right: 32px;
}

span#split9 {
  top: 620px;
  left: 32px;
}
span#split21 {
  top: 620px;
}
span#split33 {
  top: 620px;
  right: 32px;
}

span#split10 {
  top: 691px;
  left: 32px;
}
span#split22 {
  top: 691px;
}
span#split34 {
  top: 691px;
  right: 32px;
}

span#split11 {
  top: 762px;
  left: 32px;
}
span#split23 {
  top: 762px;
}
span#split35 {
  top: 762px;
  right: 32px;
}

span#split12 {
  top: 833px;
  left: 32px;
}
span#split24 {
  top: 833px;
}
span#split36 {
  top: 833px;
  right: 32px;
}

span#split37 {
  top: 87px;
  left: 82px;
}
span#split49 {
  top: 87px;
  right: 82px;
}

span#split38 {
  top: 158px;
  left: 82px;
}
span#split50 {
  top: 158px;
  right: 82px;
}

span#split39 {
  top: 229px;
  left: 82px;
}
span#split51 {
  top: 229px;
  right: 82px;
}

span#split40 {
  top: 300px;
  left: 82px;
}
span#split52 {
  top: 300px;
  right: 82px;
}

span#split41 {
  top: 371px;
  left: 82px;
}
span#split53 {
  top: 371px;
  right: 82px;
}

span#split42 {
  top: 442px;
  left: 82px;
}
span#split54 {
  top: 442px;
  right: 82px;
}

span#split43 {
  top: 513px;
  left: 82px;
}
span#split55 {
  top: 513px;
  right: 82px;
}

span#split44 {
  top: 584px;
  left: 82px;
}
span#split56 {
  top: 584px;
  right: 82px;
}

span#split45 {
  top: 655px;
  left: 82px;
}
span#split57 {
  top: 655px;
  right: 82px;
}

span#split46 {
  top: 726px;
  left: 82px;
}
span#split58 {
  top: 726px;
  right: 82px;
}

span#split47 {
  top: 797px;
  left: 82px;
}
span#split59 {
  top: 797px;
  right: 82px;
}

span#split48 {
  top: 868px;
  left: 82px;
}
span#split60 {
  top: 868px;
  right: 82px;
}
